{% extends 'base.html' %}
{% load bootstrap_tags %}


{% block content %}


<br><br>
    <!-- Page Content -->

<div class="container">
   <div class="row">
        <div class="col-sm-4 my-4">
          <div class="card">
            <img class="card-img-top grow" src="https://s3.eu-west-2.amazonaws.com/heldertest/D45A3151.jpg" alt="img">
            <div class="card-body">
              <h4 class="card-title">About me</h4>
              <p class="card-text">I am a trained practitioner and member of the International Association of Kambo Practitioners, founded by Karen Kanya-Darke.
When I found Kambo, or actually, when it found me, my journey began with the Amazonian medicine and eventually I trained to become a practitioner, after experiencing the effects of Kambo in my life and in those around me.
I facilitate a safe space and guide you through your personal Kambo journey.</p>
            </div>
            <div class="card-footer">
              <a href="#" tagret="_parent" class="btn btn-primary">Find Out More!</a>
            </div>

          </div>
        </div>
        <div class="col-sm-4 my-4">
          <div class="card">
            <img class="card-img-top grow" src="https://s3.eu-west-2.amazonaws.com/heldertest/D45A3195.jpg" width="100%" alt="Kambo frog">
            <div class="card-body">
              <h4 class="card-title">What is Kambo?</h4>
              <p class="card-text">Kambo is a secretion produced by the green tree frog Phyllomedusa  Bicolor also known as Sapo ,and live in Amazonian Rainforests.<br>
              International scientific research has been conducted on the properties of Kambo since the 1980´s. The studies have found that Kambo frog venom is made up of many peptides that are strengthening and healing to the human body and immune system, whilst physically destroying pathogenic microorganisms.<br>
              It has strong natural anti-inflammatory, antibiotic, antimicrobial and anaesthetic substances. Kambo contains a complex blend of bioactive peptides, around 139 peptides known to be crucial to the health, good function, growth and repair of our systems.</p>
            </div>
            <div class="card-footer">
              <a href="/faqs/7/" class="btn btn-primary">Find Out More!</a>
            </div>

          </div>
        </div>
        <div class="col-sm-4 my-4">
          <div class="card">
            <img class="card-img-top grow" src="https://s3.eu-west-2.amazonaws.com/heldertest/D45A3408.jpg" width="100%" alt="Kambo frog">
            <div class="card-body">
              <h4 class="card-title">Is Kambo safe?</h4>
              <p class="card-text">
                Kambo is a very powerful medicine, and you should only use it under the guidance of a skilled practitioner.<br> 
                It is perfectly safe when taken with a trained practitioner and all the health questions are answered honestly in the initial screening.
              </p>
            </div>
            <div class="card-footer">
              <a href="/faqs/2/" class="btn btn-primary">Find Out More!</a>
            </div>

          </div>
        </div>

      </div>
      <!-- /.row -->


   <br><br>


        <div class="col-lg-3">
                    <div class="cuadro_intro_hover " style="background-color:#cccccc;">
                        <p style="text-align:center; margin-top:20px;">
                            <img src="https://s3.eu-west-2.amazonaws.com/heldertest/D45A3195.jpg" class="img-responsive" alt="frog">
                        </p>
                        <div class="caption">
                            <div class="blur"></div>
                            <div class="caption-text">
                                <h3 style="border-top:2px solid white; border-bottom:2px solid white; padding:10px;">KAMBO FROG</h3>
                                <p>HOW LONG WILL IT TAKE FOR THE SCARS TO HEAL?...</p>
                                <a class=" btn btn-default" href="/faqs/4/"><span class="glyphicon glyphicon-plus"> INFO</span></a>
                            </div>
                        </div>
                    </div>
                
        </div>
       <div class="col-lg-3">
                    <div class="cuadro_intro_hover " style="background-color:#cccccc;">
                        <p style="text-align:center; margin-top:20px;">
                            <img src="https://s3.eu-west-2.amazonaws.com/heldertest/D45A3408.jpg" class="img-responsive" alt="frog">
                        </p>
                        <div class="caption">
                            <div class="blur"></div>
                            <div class="caption-text">
                                <h3 style="border-top:2px solid white; border-bottom:2px solid white; padding:10px;">KAMBO FROG</h3>
                                <p>CAN ANYONE TAKE KAMBO?...</p>
                                <a class=" btn btn-default" href="/faqs/1/"><span class="glyphicon glyphicon-plus"> INFO</span></a>
                            </div>
                        </div>
                    </div>
                
        </div>
          

        <div class="col-lg-3 col-md-6">
            <h3>Categories:</h3>
                <ul>
                <li><a href="/"><i class="fa fa-home"></i> Home</a></li>
                <li><a href="/products/"><i class="fa fa-shopping-cart"></i> Shop</a></li>
                <li><a href="/faqs/"><i class="fa fa-question-circle"></i> FAQs</a></li>
                <li><a href="/about/"><i class="fa fa-user"></i> About</a></li>
                <li><a href="/contact/"><i class="fa fa-envelope-square"></i> Contact</a></li>
                <li><a href="/register"><i class="fa fa-check-circle"></i> Register</a></li>
                <li><a href="/login/"><i class="fa fa-windows"></i> Login</a></li>
                </ul>
         </div>

         <div class="col-lg-3 col-md-6">
                <h3>Contact:</h3>
                <p>Have any questions or feedback? Please contact me!</p>
                <p><a href="mailto:vieiraa360@gmail.com" title="Contact me!"><i class="fa fa-envelope"></i> Email me!</a></p>
          </div>



            <div>  
                <h3>Follow:</h3>           
                  <a href="http://twitter.com" id="gh" target="_blank" title="Twitter">
                    <span class="fa-stack fa-lg">
                    <i class="fa fa-square-o fa-stack-2x"></i>
                    <i class="fa fa-twitter fa-stack-1x"></i>
                  </span>
                Twitter</a>

                  <a href="http://facebook.com/" target="_blank">
                    <span class="fa-stack fa-lg">
                      <i class="fa fa-square-o fa-stack-2x"></i>
                      <i class="fa fa-facebook fa-stack-1x"></i></span>Facebook</a>
            </div>

        <br/>

    <!-- /.container -->
    </div>

    <footer>
      <div class="row">
        <p>
          <span>Copyright © Kambolife | <a href="https://s3.eu-west-2.amazonaws.com/kambo-site/media/images/policy.png" target="_blank">Privacy Policy</a> | <a href="https://s3.eu-west-2.amazonaws.com/kambo-site/cookielaw/docs/cookies_policy.pdf" target="_blank">Cookies Policy</a> | <a href="https://s3.eu-west-2.amazonaws.com/kambo-site/media/images/terms.PNG" target="_blank">Terms of Use</span>
        </p>
      </div>
    </footer>
    
{% endblock %}